{% extends "core/base.html" %}
{% block tourcletas %}
{% for i in bicicleta %}
          <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="{{i.imagen_bicicleta.url}}" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">{{i.marca}}</a>
                </h4>
                <p class="card-text">{{i.descripcion_bicicleta}}</p>
              </div>
              <a class="btn btn-primary btn-fw" href="{% url 'ver_mas_bicicletas' i.pk %}">
                  <i class="fa fa-plus"></i>Ver mas</a>
            </div>
          </div>
{% endfor %}
<!--
{% for i in equipamiento %}
          <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="{{i.imagen_equipamiento.url}}" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">{{i.tipo_equipamiento}}</a>
                </h4>
                <p class="card-text">{{i.descripcion_equipamiento}}</p>
              </div>
              <a class="btn btn-primary btn-fw" href="{% url 'ver_mas_equipamiento' i.pk  %}">
                  <i class="fa fa-plus"></i>Ver mas</a>
            </div>
          </div>
{% endfor %}
-->
{% endblock %}