{% extends "core/base.html" %}
{% block tourcletas %}
<div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{{bicicleta.imagen_bicicleta.url}}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">{{bicicleta.marca}}</a>
            </h4>
            <p class="card-text">Aro: {{bicicleta.aro}}</p>
            <p class="card-text">Disponible en: {{bicicleta.ubicacion_bicicleta}}</p>
            <p class="card-text">Precio: {{bicicleta.precio_bicicleta}}</p>
          </div>
        </div>
</div>

{% endblock %}